.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #221f1f;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  width: 70%;
  max-width: 800px;
}

.iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #b81d24;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: "Lexend", sans-serif;
}

.button:hover {
  background-color: darkred;
}

/* Small screens */
@media screen and (max-width: 767px) {
  .modal {
    width: 80%;
    max-width: none;
  }

  .iframe {
    height: 300px;
  }
}

/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    width: 90%;
    max-width: none;
  }

  .iframe {
    height: 400px;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  .modal {
    width: 70%;
    max-width: 800px;
  }

  iframe {
    height: 500px;
  }
}
